@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    border: solid;
    border-radius: 1px;
    border-color: red;
}

body {
    margin: 0;
    /*background: #eee;*/
    font-family: Roboto;
  }

.header {
    background: #1f2937;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 0 rgba(0,0,0,.1);
    padding: 0px;
    height: 300px;
  }

ul {
    list-style-type: none;
   }

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    padding-top: 10px;
}

.title {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    padding-top: 10px;
    padding-left: 150px;
    padding-right: 150px;
}

.links {
    display: flex;
    gap: 30px;
    padding-right: 150px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-style: normal;
    padding-left: 150px;
    align-items: center;
    display: flex;
}

a {
    /* this removes the line under our links */
    text-decoration: none;
    color: rebeccapurple;
  }